<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>길잡이</title>
    <link
      href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css"
      rel="stylesheet"/>
    <link href="/static/styles.css" rel="stylesheet"/>
    <script
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var calendarEl = document.getElementById("calendar");

        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: "dayGridMonth",
          selectable: true,
          locale: 'ko',

          dateClick: function (info) {
            var selectedDate = info.date;
            updateSelectedDate(selectedDate);
          }
        });
        //현재 날짜
        var today = new Date();
        updateSelectedDate(today);

        calendar.render();

        function updateSelectedDate(selectedDate) {
          var year = selectedDate.getFullYear();
          var month = selectedDate.getMonth() + 1;
          var day = selectedDate.getDate();
          var dayOfWeek = selectedDate.toLocaleDateString('ko-KR', { weekday: 'long' });
          //hidden field 내용
          var dateString = selectedDate

          // 선택한 날짜를 페이지에 표시
          document.getElementById("selectDay").innerText = `${month}월 ${day}일 ${dayOfWeek}`;
          //hidden field 내용
          document.getElementById('set_date').value = dateString;
        }
      });
    </script>
  </head>
  <body class="sb-nav-fixed">
    <!-- 상단 메뉴 -->
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand ps-3" href="/">길잡이</a>
      <!-- 사용자 메뉴 -->
      <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fas fa-user fa-fw"></i>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown">
            {% if current_user.is_authenticated %}
            <li><a class="dropdown-item" href="/logout"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;로그아웃</a></li>
            {% else %}
            <li><a class="dropdown-item" href="/login"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;로그인</a></li>
            <li><a class="dropdown-item" href="/register"><i class="fa-solid fa-id-card"></i>&nbsp;회원가입</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </nav>
    <!-- 왼쪽 메뉴 -->
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
          <div class="sb-sidenav-menu">
            <div class="nav">
              <div class="sb-sidenav-menu-heading">메인</div>
              <a class="nav-link" href="/">
                <div class="sb-nav-link-icon">
                  <i class="fa-solid fa-house-chimney"></i>
                </div>
                메인화면
              </a>
              <div class="sb-sidenav-menu-heading">기능</div>
              <a class="nav-link" href="/planner">
                <div class="sb-nav-link-icon">
                  <i class="fa-regular fa-calendar"></i>
                </div>
                플래너
              </a>
              <a class="nav-link" href="/grades">
                <div class="sb-nav-link-icon">
                  <i class="fa-regular fa-pen-to-square"></i>
                </div>
                성적 관리
              </a>
              <a class="nav-link" href="/board">
                <div class="sb-nav-link-icon">
                  <i class="fa-solid fa-chalkboard"></i>
                </div>
                게시판
              </a>
            </div>
          </div>
          <div class="sb-sidenav-footer">
            <div class="small">팀 :</div>
            B조
          </div>
        </nav>
      </div>
      <!-- 본문 내용 -->
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
            <h1 class="mt-4">길잡이</h1>
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item">&nbsp;
                <a href="/" style="text-decoration: none">
                  <i class="fa-solid fa-house-chimney"></i>&nbsp;메인화면
                </a>
              </li>
              <li class="breadcrumb-item active">플래너</li>
            </ol>
            <div class="row">
              <!-- 달력 -->
              <div class="col-md-7">
                <div class="card mb-4">
                  <div class="card-body">
                    <div id="calendar"></div>
                  </div>
                </div>
              </div>
              <!-- TodoList -->
              <div class="col-md-4">
                <!-- 달력에서 선택된 날짜 가져올 것 -->
                <h3 id="selectDay">
                  {% if selectday %}
                    {{selectday.month}}월 {{selectday.date}}일 {{selectday.day}}요일
                  {% else %}
                    <!-- 현재 날짜 -->
                    {{current_date.month}}월 {{current_date.date}}일 {{current_date.day}}요일
                  {% endif %}
                </h3>
                <!-- 할일/한일 입력부분 -->
                <form method="post">
                  {{ form.csrf_token }}
                  <input type="hidden" name="set_date" id="set_date" value="{{ set_date or '' }}" />
                  <div class="input-group mt-4 mb-2">
                    <input
                      class="form-control"
                      id="content"
                      name="content"
                      type="text"
                      value="{{ form.content.data or '' }}"
                      placeholder="입력하세요"/>
                    <div class="btn-group" role="group">
                      <input
                        type="radio"
                        class="btn-check"
                        name="dodone"
                        id="todoradio"
                        value="do"
                        autocomplete="off"
                        checked/>
                      <label class="btn btn-outline-dark" for="todoradio">할일</label>
                      <input
                        type="radio"
                        class="btn-check"
                        name="dodone"
                        id="doneradio"
                        value="done"
                        autocomplete="off"/>
                      <label class="btn btn-outline-dark" for="doneradio">한일</label>
                    </div>
                    <button class="btn btn-outline-primary" type="submit">
                      추가하기
                    </button>
                  </div>
                </form>
                <!-- TodoList 수정/디데이 설정 -->
                <div class="card mb-4">
                  <div class="card-body">
                    {% for item in todolist %}
                      
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <!-- 하단 -->
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
              <div class="text-muted">Copyright &copy; 길잡이 B조</div>
              <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
      crossorigin="anonymous"></script>
  </body>
</html>
